@page
@section styles {
}
@section scripts {
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <script src="~/demo.js"></script>
    <abp-script src="/Pages/ChartsInline/Index.js" />
}
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@model AbpLteDemo.Web.Pages.ChartsInline.IndexModel
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Inline Charts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Home</a></li>
                        <li class="breadcrumb-item active">Inline Charts</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <div class="col-12">
                    <!-- jQuery Knob -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                jQuery Knob
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">

                                    <div class="knob-label">New Visitors</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="70" data-width="90" data-height="90" data-fgColor="#f56954">

                                    <div class="knob-label">Bounce Rate</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="-80" data-min="-150" data-max="150" data-width="90"
                                           data-height="90" data-fgColor="#00a65a">

                                    <div class="knob-label">Server Load</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="40" data-width="90" data-height="90" data-fgColor="#00c0ef">

                                    <div class="knob-label">Disk Space</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <div class="col-6 text-center">
                                    <input type="text" class="knob" value="90" data-width="90" data-height="90" data-fgColor="#932ab6">

                                    <div class="knob-label">Bandwidth</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 text-center">
                                    <input type="text" class="knob" value="50" data-width="90" data-height="90" data-fgColor="#39CCCC">

                                    <div class="knob-label">CPU</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                jQuery Knob Different Sizes
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc"
                                           data-readonly="true">

                                    <div class="knob-label">data-width="90"</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="30" data-width="120" data-height="120"
                                           data-fgColor="#f56954">

                                    <div class="knob-label">data-width="120"</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="30" data-thickness="0.1" data-width="90" data-height="90"
                                           data-fgColor="#00a65a">

                                    <div class="knob-label">data-thickness="0.1"</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125"
                                           value="30" data-width="120" data-height="120" data-fgColor="#00c0ef">

                                    <div class="knob-label">data-angleArc="250"</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                jQuery Knob Tron Style
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="80" data-skin="tron" data-thickness="0.2" data-width="90"
                                           data-height="90" data-fgColor="#3c8dbc" data-readonly="true">

                                    <div class="knob-label">data-width="90"</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="60" data-skin="tron" data-thickness="0.2" data-width="120"
                                           data-height="120" data-fgColor="#f56954">

                                    <div class="knob-label">data-width="120"</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="10" data-skin="tron" data-thickness="0.1" data-width="90"
                                           data-height="90" data-fgColor="#00a65a">

                                    <div class="knob-label">data-thickness="0.1"</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <input type="text" class="knob" value="100" data-skin="tron" data-thickness="0.2"
                                           data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120"
                                           data-fgColor="#00c0ef">

                                    <div class="knob-label">data-angleArc="250"</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Sparklines
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <div id="sparkline-1"></div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-2"></div>
                                </div>
                                <!-- ./col -->
                                <div class="col-4 text-center">
                                    <div id="sparkline-3"></div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->