.dataTables_scrollBody {
    min-height: 248px;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 11px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
    padding-top: 10px;
    margin-bottom: 0;
}
